<div class="booyah-box col-10 offset-1">
  <h1>This will be the Index Page</h1>
  <br>
  <h2>It's supposed to have some advertisment about our chess app and encourange people to become users (players)</h2>
</div>