<div class="booyah-box col-10 offset-1">
  <h1>Welcome to the Game Lobby</h1>
  <hr />
  <br />
  <br />
  <% @sessions.each do |session| %>
    <div>
      <p><%= session.title %></p>
      <br />
    </div>
  <% end %>
</div>
